/* --------------- Einstellung für alle Elemente ---------------*/
html * { 
 margin: 0; 
 padding:0; 
}

body {
 PADDING-RIGHT: 0px;
 PADDING-TOP:0px;
 PADDING-BOTTOM:0px;
 PADDING-LEFT: 0px;
 BACKGROUND: URL(../theme/images/bg.jpg) #660000 fixed;
 MARGIN: 0px;
 font-size: 82.50%;
 font-family:Arial, Helvetica, sans-serif;	
 LINE-HEIGHT: 1.166;
 scrollbar-face-color:#C60000;
 scrollbar-highlight-color:#C60000;
 scrollbar-shadow-color:#660000;
 scrollbar-darkshadow-color:#C60000;
 scrollbar-3dlight-color:#C60000;
 scrollbar-track-color:#C60000;
 scrollbar-arrow-color:#660000;
 scrollbar-base-color:#C60000;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #002B57;
}
a:hover {
	text-decoration: none;
	color: #993300;
}
a:active {
	text-decoration: none;
	color: #993300;
}

.rowx {
	background-color:#E4F6FF;
	color:#004080;
	font-weight:bold;
}

.row1 {
	background-color:#F2F2F2;
	color:#000000;
}

.row2 {
	background-color:#E4E4E4; /* ABU */
	color:#000000;
}

/* --------------- page ---------------*/
#page {
	/** width: 1000px; **/
	width: 1024px;
	margin: 0px auto 0px auto;
	text-align: left;
	background-color:#FFFFFF;
}

/* --------------- Header ---------------*/
#cheader {
	clear: left;
	float: left;
	/** width:1000px; **/
	width:1024px;
	height: 100px;
	margin: 5px 0px 0px 0px;
	vertical-align:top;
	background: url(../theme/images/header.jpg) center no-repeat;
	background-color:#FFFFFF;
}
#gambar {
	margin:10px 0px 10px 20px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#0057AE;
	font-weight:bold;
}

#hm {
	float: left;
	width: 620px;
	height: 56px;
	font-size: 82.50%;
}
#hm ul {
	margin: 25px 0px 0px 0px;
}
#hm ul li{
	float: left;
	width: 99px;
	height: 20px;
	margin: 0px 1px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

/* --------------- content ---------------*/
#ccontent {
	clear: left;
	float: left;
	width:1000px;
	padding: 2px 20px 20px 1px;
}
#hpv24{
	clear: left;
	float: left;
	width: 165px;
	margin: 0px 50px 0px 27px;
	font-size: 75.00%;
	color: #666;
	text-align: right;
}
#hpv24 a{
	color: #7ea227;
}
#content {
	float: left;
	width: 90%;
	line-height: 1.7em;
        text-overflow:elipsis;
}
#content h1{
	margin: 0px 0px 0px 0px;
	font-size: 200.00%;
	font-weight: normal;
	text-transform: lowercase;
	color: #e6784c;
}
#content h2{
	font-size: 112.50%;
	color: #000;
	text-transform: lowercase;
}
#content h6{
	font-size: 75%;
	color:#bb5e00;
        font-weight:normal;
	text-transform: lowercase;
}
#content p{
	margin: 0px 0px 1.3em 0px;
}
#content a{
	color: #e6784c;
        text-decoration:none;
}
#content a:hover{
	color: #000;
}
#content #links {
	clear: left;
	float: left;
	width: 290px;
	font-size: 82.50%;
}
#content #ressourcen {
	float: left;
	font-size: 82.50%;
}
#content #links ul ,
#content #ressourcen ul{
	list-style-type: none;
}
#content #links ul li,
#content #ressourcen ul li{
	list-style-type: none;
}
#content #links ul li a,
#content #ressourcen ul li a{
	padding: 0px 0px 0px 20px;
	background: url(../theme/images/pointer01.gif) left 4px no-repeat;
	color: #7ea227;
}

#content #links ul li a:hover,
#content #ressourcen ul li a:hover{
	color: #e6784c;
}
#content img{
        border:none;
        padding-top:2px;
}

/* table */
/*
.maintable {
	text-align: center; 
	height: 100%; 
	width: 100%;
	border: 0; 
	padding: 0; 
} */
.accordion2 h3 {
	background: #e9e7e7 no-repeat right -51px;
	padding: 7px 5px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion2 h4 {
	background: #e9e7e7 no-repeat right -51px;
	margin: 0;
	font: bold 30px Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion2 h5 {
	color: #5E88B6;
	padding: 10px 0px;
	margin: 0;
	font: bold 15px Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.accordion2 h6 {
	margin: 0;
	font: bold 15px Arial, Helvetica, sans-serif;
	cursor: pointer;
}
/*
.mastertable {
	background:#CCCCCC;
	text-align: left; 
	font-size: 16px;
	width: 100%; 
	border: 0; 
	padding: 4px;
} */

#cari {
 width:180px;
}

.listtable2 { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}
.listtable2 th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:30px;
}
.listtable2 td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}

.listtable { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}
.listtable th { 
}
.listtable td { 
}
/* end of table */

/* supplier */
#mastersupplierform #isupplier {
	width: 45px;
}
#mastersupplierform #e_supplier_name {
	width: 200px;
}
#mastersupplierform #e_supplier_address {
	width: 200px;
}
#mastersupplierform #e_supplier_contact {
	width: 200px;
}
#mastersupplierform #e_memo {
	width: 200px;
}
#mastersupplierform p {
	margin: 5px;
}
#mastersupplierform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}

#txt_i_supplier {
	width:100px;
}
#txt_e_supplier_name {
	width:200px;
}
/* End 0f supplier */

/* Benang */
#masteryarnform #i_yarn{
	width: 45px;
}
#masteryarnform #i_supplier {
	width: 45px;
}
#masteryarnform #e_yarn_name {
	width: 200px;
}
#masteryarnform #v_price {
	width: 100px;
}
#masteryarnform #e_memo {
	width: 200px;
}
#masteryarnform p {
	margin: 5px;
}
#masteryarnform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Benang */

/* Pelanggan */
#mastercustomerform #i_customer_code{
	width: 45px;
}
#mastercustomerform #e_customer_name {
	width: 200px;
}
#mastercustomerform #e_customer_address {
}
#mastercustomerform #f_customer_pkp {
}
#mastercustomerform #e_customer_npwp {
	width: 100px;
}
#mastercustomerform #n_customer_top {
	width: 100px;
}
#mastercustomerform #f_customer_konsinyasi {
}
#mastercustomerform #e_customer_phone {
	width: 100px;
}
#mastercustomerform #e_customer_fax {
	width: 100px;
}
#mastercustomerform #e_customer_contact {
	width: 200px;
}
#mastercustomerform p {
	margin: 5px;
}
#mastercustomerform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}

#txt_i_customer_code {
	width:100px;
}

#txt_e_customer_name {
	width:200px;
}

#txt_e_cust_phonefax {
	width:100px;
}
/* End 0f Pelanggan */

/* Group Pelanggan */
#mastergrouppelform #i_group_code {
	width: 45px;
}
#mastergrouppelform #e_group_name {
	width: 200px;
}

#mastergrouppelform #e_note {
	width: 200px;
}
#mastergrouppelform p {
	margin: 5px;
}
#mastergrouppelform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}

#txt_i_group_code {
	width:100px;
}
#txt_group_name {
	width:200px;
}
/* End 0f Group Pelanggan */

/* Pelanggan Cab */
#mastercustomercabform #i_branch{
	width: 45px;
}
#mastercustomercabform #i_area{
	width: 23px;
}
#mastercustomercabform #i_customer {
	width: 45px;
}
#mastercustomercabform #e_branch_name {
	width: 200px;
}
#mastercustomercabform #e_branch_address {
}
#mastercustomercabform #e_branch_city {
	width: 200px;
}
#mastercustomercabform #e_initial {
	width: 100px;
}

#mastercustomercabform p {
	margin: 5px;
}
#mastercustomercabform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}

#txt_i_branch {
	width:100px;
}

#txt_i_customer_code {
	width:100px;
}

#txt_e_branch_name {
	width:200px;
}
/* End 0f Pelanggan Cab */

/* Pelanggan Transfer */
#mastercustomertransform #e_customer {
	width: 45px;
}

#mastercustomertransform #i_transfer {
	width: 100px;
}

#mastercustomertransform p {
	margin: 5px;
}

#mastercustomertransform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}

/* End 0f Pelanggan Transfer */


/* Kelas Barang */
#masterclassform #iclass{
	width: 40px;
}
#masterclassform #eclassname {
	width: 200px;
}
#masterclassform p {
	margin: 5px;
}
#masterclassform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
#txt_i_class {
	width:100px;
}
#txt_e_class_name {
	width:200px;
}
/* End 0f Kelas Barang */

/* Form Akun Pajak */
#masterakunpajakform #ekodeakun{
	width: 100px;
}
#masterakunpajakform #txtakunpajak {
	width: 200px;
}
#masterakunpajakform p {
	margin: 5px;
}
#masterakunpajakform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Form Akun Pajak */

/* Form Jenis Voucher */
#masterjenisvoucherform #ejenisvoucher {
	width: 100px;
}
#masterjenisvoucherform #txtjenisvoucher {
	width: 200px;
}
#masterjenisvoucherform p {
	margin: 5px;
}
#masterjenisvoucherform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Form Jenis Voucher */

/* Form Satuan Bhn Baku */
#mastersatuanbhnbakuform #esatuan {
	width: 100px;
}
#mastersatuanbhnbakuform #txtsatuan {
	width: 200px;
}
#mastersatuanbhnbakuform p {
	margin: 5px;
}
#mastersatuanbhnbakuform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Form Satuan Bhn Baku */

/* Form Penyetor */
#masterpenyetorform #txtpenyetor {
	width: 200px;
}
#masterpenyetorform #txtcaripenyetor {
	width: 100px;
}
#masterpenyetorform p {
	margin: 5px;
}
#masterpenyetorform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Form Penyetor */

/* Kategori Barang */
/* #mastercategoriform #c_category_code{ */
#mastercategoriform #i_category{
	width: 45px;
}
#mastercategoriform #e_category_name {
	width: 200px;
}
#mastercategoriform #i_class {
	width: 45px;
}
#mastercategoriform p {
	margin: 5px;
}
#mastercategoriform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Kategori Barang */

/* Jenis Setor Pajak */
#masterjsetorpajakform #kodeakunpajak {
	width: 60px;
}
#masterjsetorpajakform #kodejenissetor {
	width: 100px;
}
#masterjsetorpajakform #uraianpembayaran {
	width: 100px;
}
#masterjsetorpajakform p {
	margin: 5px;
}
#masterjsetorpajakform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Jenis Setor Pajak */

/* Kode Voucher */
#masterkodevoucherform #ijnsvoucher {
	width: 60px;
}
#masterkodevoucherform #kodevoucher {
	width: 60px;
}
#masterkodevoucherform #nmvoucher {
	width: 140px;
}
#masterkodevoucherform #ketvoucher {
	width: 140px;
}

#masterkodevoucherform p {
	margin: 5px;
}
#masterkodevoucherform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Kode Voucher */

/* Inisial Perusahaan */
#masterinisalform #nmperusahaan {
	width: 140px;
}
#masterinisalform #almtperusahaan {
	width: 400px;
}
#masterinisalform #npwp {
	width: 200px;
}
#masterinisalform #telp {
	width: 100px;
}
#masterinisalform #fax {
	width: 100px;
}
#masterinisalform #kontak {
	width: 140px;
}
#masterinisalform p {
	margin: 5px;
}
#masterinisalform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Inisial Perusahaan */

/* SSP */
#mastersspform #wajibpajak {
	width: 200px;
}
#mastersspform #kdakunpajak {
	width: 100px;
}
#mastersspform #kdjnssetor {
	width: 80px;
}
#mastersspform #uraipembayaran {
	width: 200px;
}
#mastersspform #jmlpebayaran {
	width: 100px;
}
#mastersspform #tmptwp {
	width: 120px;
}
#mastersspform #tglwp {
	width: 80px;
}
#mastersspform #penyetor {
	width: 200px;
}
#mastersspform p {
	margin: 5px;
}
#mastersspform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f SSP */

/* Kategori Brand */
/* #masterbrandform #c_brand_code {
	width: 45px;
} */
#masterbrandform #ibrand {
	width: 45px;
}
#masterbrandform #ebrandname {
	width: 200px;
}

#masterbrandform p {
	margin: 5px;
}
#masterbrandform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
#txt_c_brand_code {
	width:100px;
}
#txt_e_brand_name {
	width:200px;
}
/* End 0f Brand Barang */

/* Kategori Layout */
#masterlayoutform #ilayout {
	width: 45px;
}
#masterlayoutform #elayoutname {
	width: 200px;
}

#masterlayoutform p {
	margin: 5px;
}
#masterlayoutform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
#txt_i_layout {
	width:100px;
}
#txt_e_layout_name {
	width:200px;
}
/* End 0f Brand Layout */

/* Barang Jadi */
#masterbrgjadiform #i_product_base1 {
	width: 100px;
}
#masterbrgjadiform #e_product_basename1 {
	width: 320px;
}
#masterbrgjadiform #e_supplier_name1 {
	width: 200px;
}
#masterbrgjadiform #i_category1 {
	width: 200px;
}
#masterbrgjadiform #i_brand1 {
	width: 200px;
}
#masterbrgjadiform #i_layout1 {
	width: 200px;
}
#masterbrgjadiform #v_price {
	width: 100px;
}
#masterbrgjadiform #n_quantity {
	width: 100px;
}
#masterbrgjadiform #e_quality1 {
	width: 200px;
}
#masterbrgjadiform #e_surat_penawaran1 {
	width: 250px;
}
#masterbrgjadiform #d_launching1 {
	width: 80px;
}
#masterbrgjadiform #d_penawaran {
	width: 80px;
}
#masterbrgjadiform p {
	margin: 5px;
}
#masterbrgjadiform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Barang jadi */

/* Barang Jadi + Motif */
#mastermotifbrgform #i_product2 {
	width: 100px;
}
#mastermotifbrgform #i_product_motif {
	width: 100px;
}
#mastermotifbrgform #e_product_motifname {
	width: 300px;
}
#mastermotifbrgform #d_product_motifentry {
	width: 80px;
}
#mastermotifbrgform #d_product_motifupdate {
	width: 80px;
}
#mastermotifbrgform #n_quantity {
	width: 80px;
}

#mastermotifbrgform p {
	margin: 5px;
}
#mastermotifbrgform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Barang Jadi + Motif */

/* Barang Harga */
#masterpriceform #iproductprice {
	width: 20px;
}
#masterpriceform #iproductprice2 {
	width: 60px;
}
#masterpriceform #iproduct {
	width: 180px;
}
#masterpriceform #iproductmotif {
	width: 180px;
}
#masterpriceform #vprice {
	width: 100px;
}
#masterpriceform p {
	margin: 5px;
}
#masterpriceform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
#txt_codeharga {
	width:200px;
}
/* End 0f Harga */

/* Barang Harga */
#masterstatusform #istatusproduct {
	width: 45px;
}
#masterstatusform #estatusname {
	width: 200px;
}
#masterstatusform p {
	margin: 5px;
}
#masterstatusform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
#txticolor {
	width:100px;
}
#txtecolorname {
	width:200px;
}
/* End 0f Harga */

/* OP */
#masteropform #i_op {
	width: 120px;
}
#masteropform #d_op {
	width: 80px;
}
#masteropform #d_delivery_limit {
	width: 80px;
}
#masteropform #i_sop {
	width: 120px;
}
#masteropform #v_count {
	width: 86px;
}
#masteropform #i_product {
	width: 157px;
}
#masteropform #e_product_name {
	width: 205px;
}
#masteropform #e_note {
	width: 200px;
}
#masteropform p {
	margin: 5px;
}
#masteropform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f OP */

/* DO */
#masterdoform #i_do {
	width: 120px;
}
#masterdoform #d_do {
	width: 80px;
}
#masterdoform #i_op {
	width: 80px;
}
#masterdoform #i_product {
	width: 120px;
}
#masterdoform #e_product_name {
	width: 160px;
}
#masterdoform #n_deliver {
	width: 90px;
}
#masterdoform #v_do_gross {
	width: 90px;
}
#masterdoform #e_note {
	width: 155px;
}

#masterdoform p {
	margin: 5px;
}
#masterdoform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f DO */

/* BMM */
#masterbmmform #i_inbonm {
	width: 110px;
}
#masterbmmform #i_sj {
	width: 200px;
}
#masterbmmform #d_inbonm {
	width: 80px;
}
#masterbmmform #i_product {
	width: 100px;
}
#masterbmmform #e_product_name {
	width: 300px;
}
#masterbmmform #n_count_product {
	width: 100px;
}

#masterbmmform p {
	margin: 5px;
}
#masterbmmform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f BMM */

/* Forcast */
#masterforcastform #i_forcast {
	width: 110px;
}
#masterforcastform #i_op {
	width: 110px;
}
#masterforcastform #i_drop_forcast {
	width: 110px;
}
#masterforcastform #d_forcast {
	width: 80px;
}
#masterforcastform #i_product {
	width: 100px;
}
#masterforcastform #e_product_name {
	width: 300px;
}
#masterforcastform #n_count_product {
	width: 100px;
}

#masterforcastform p {
	margin: 5px;
}
#masterforcastform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Forcast */

/* SJ Drop  Forcast */
#mastersjdropforcastform #i_sj_code {
	width: 110px;
}

#mastersjdropforcastform #i_sjdropforcast {
	width: 110px;
}
#mastersjdropforcastform #d_sjdropforcast {
	width: 80px;
}
#mastersjdropforcastform #i_product {
	width: 100px;
}
#mastersjdropforcastform #e_product_name {
	width: 300px;
}
#mastersjdropforcastform #n_count_product {
	width: 100px;
}

#mastersjdropforcastform p {
	margin: 5px;
}
#mastersjdropforcastform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f SJ Drop Forcast */

/* BonM Masuk dari SJ */
#mastersjhsilpackingform #i_inbonm {
	width: 110px;
}

#mastersjhsilpackingform #isjhslpacking {
	width: 110px;
}
#mastersjhsilpackingform #d_inbonm {
	width: 80px;
}
#mastersjhsilpackingform #d_sjhsilpacking_first {
	width: 80px;
}
#mastersjhsilpackingform #d_sjhsilpacking_last {
	width: 80px;
}
#mastersjhsilpackingform #i_product {
	width: 100px;
}
#mastersjhsilpackingform #e_product_name {
	width: 300px;
}
#mastersjhsilpackingform #n_count_product {
	width: 100px;
}

#mastersjhsilpackingform p {
	margin: 5px;
}
#mastersjhsilpackingform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f BonM Masuk dari SJ */

/* BMK */
#masterbmkform #i_to_outbonm {
	width: 110px;
}
#masterbmkform #d_outbonm {
	width: 80px;
}
#masterbmkform #i_outbonm {
	width: 120px;
}
#masterbmkform #i_product {
	width: 100px;
}
#masterbmkform #e_product_name {
	width: 300px;
}
#masterbmkform #n_count_product {
	width: 100px;
}
#masterbmkform p {
	margin: 5px;
}
#masterbmkform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f BonMKeluar*/

/* Bukti Barang Masuk */
#masterbbmform #i_bbm {
	width: 120px;
}
#masterbbmform #d_bbm {
	width: 80px;
}
#masterbbmform #i_outbonm {
	width: 120px;
}
#masterbbmform #e_bbm_from {
	width: 220px;
}
#masterbbmform #i_bbm_sjorbbk {
	width: 110px;
}
#masterbbmform #e_bbm_address {
	width: 220px;
}
#masterbbmform #i_product {
	width: 110px;
}
#masterbbmform #e_product_name {
	width: 300px;
}
#masterbbmform #v_product_price {
	width: 100px;
}
#masterbbmform #n_unit {
	width: 90px;
}
#masterbbmform #v_unit_price {
	width: 100px;
}
#masterbbmform #v_bbm_total {
	width: 100px;
}
#masterbbmform p {
	margin: 5px;
}
#masterbbmform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Bukti Barang Masuk */

/* Bukti Barang Keluar */
#masterbbkform #i_bbk {
	width: 120px;
}
#masterbbkform #d_bbk {
	width: 80px;
}
#masterbbkform #e_bbk_to {
	width: 220px;
}
#masterbbkform #e_bbk_address {
	width: 220px;
}
#masterbbkform #i_product {
	width: 110px;
}
#masterbbkform #e_product_name {
	width: 300px;
}
#masterbbkform #v_product_price {
	width: 100px;
}
#masterbbkform #n_unit {
	width: 90px;
}
#masterbbkform #v_unit_price {
	width: 100px;
}
#masterbbkform #v_bbk_total {
	width: 100px;
}
#masterbbkform p {
	margin: 5px;
}
#masterbbkform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Bukti Barang Keluar */

/* SJ */
#mastersjform #i_sj {
	width: 120px;
}
#mastersjform #d_sj {
	width: 80px;
}

#mastersjform #i_product {
	width: 110px;
}
#mastersjform #e_product_name {
	width: 300px;
}
#mastersjform #v_product_price {
	width: 100px;
}
#mastersjform #n_unit {
	width: 90px;
}
#mastersjform #v_unit_price {
	width: 100px;
}
#mastersjform #v_sj_total {
	width: 100px;
}
#mastersjform p {
	margin: 5px;
}
#mastersjform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f SJ */


/* Faktur Penjualan Non DO */
#masterfpenjualanndoform # {
	width: 100px;
}
#masterfpenjualanndoform p {
	margin: 5px;
}
#masterfpenjualanndoform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;

	margin: 0;
}
/* End 0f Faktur Penjualan Non DO */

/* Faktur Penjualan Berdasarkan DO */
#masterfpenjualandoform #i_faktur {
	width: 120px;
}

#masterfpenjualandoform #i_branch {
	width: 110px;
}

#masterfpenjualandoform #i_do {
	width: 110px;
}
#masterfpenjualandoform #i_product {
	width: 110px;
}

#masterfpenjualandoform #d_faktur {
	width: 80px;
}

#masterfpenjualandoform #e_product_name {
	width: 250px;
}

#masterfpenjualandoform #v_hjp {
	width: 120px;
}

#masterfpenjualandoform #n_quantity {
	width: 120px;
}

#masterfpenjualandoform #v_unit_price {
	width: 120px;
}

#masterfpenjualandoform #v_total_nilai {
	width: 160px;
	text-align:right;
}

#masterfpenjualandoform #v_total_faktur {
	width: 160px;
	text-align:right;
}

#masterfpenjualandoform #n_discount {
	width: 40px;
	text-align:right;
}

#masterfpenjualandoform #v_discount {
	width: 70px;
	text-align:right;
}

#masterfpenjualandoform #d_due_date {
	width: 80px;
}

#masterfpenjualandoform #i_faktur_pajak {
	width: 180px;
}

#masterfpenjualandoform #d_pajak {
	width: 80px;
}

#masterfpenjualandoform #n_ppn {
	width: 160px;
	text-align:right
}

#masterfpenjualandoform #v_total_fppn {
	width: 160px;
	text-align:right;
}

#masterfpenjualandoform p {
	margin: 5px;
}
#masterfpenjualandoform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;

	margin: 0;
}
/* End 0f Faktur Penjualan Berdasarkan DO */

/* Stok Opname baru */
#masteropnamebaruform #d_so {
	width: 80px;
}
#masteropnamebaruform #d_so_now {
	width: 80px;
}
#masteropnamebaruform #i_product {
	width: 120px;
}
#masteropnamebaruform #e_product_name {
	width: 220px;
}
#masteropnamebaruform #n_quantity_akhir {
	width: 100px;
}
#masteropnamebaruform p {
	margin: 5px;
}
#masteropnamebaruform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Stok Opname baru */

/* Add User */
#masteradduserform #e_user_name {
	width: 100px;
}
#masteradduserform #e_password {
	width: 200px;
}
#masteradduserform #re_e_password {
	width: 200px;
}

#masteradduserform p {
	margin: 5px;
}
#masteradduserform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Add User */

/* Add Printer */
#masteraddprinterform #e_printer_name {
	width: 100px;
}
#masteraddprinterform #e_uri {
	width: 200px;
}

#masteraddprinterform #ip {
	width: 100px;
}

#masteraddprinterform p {
	margin: 5px;
}
#masteraddprinterform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Add Printer */

/* Info Stok Saat Ini */
#masterlstoksaatiniform #d_do_first {
	width: 80px;
}

#masterlstoksaatiniform #d_do_last {
	width: 80px;
}

#masterlstoksaatiniform p {
	margin: 5px;
}
#masterlstoksaatiniform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Info Stok Saat Ini */

/* Info Barang Belum Dikirim */
#masterlbrgpenddform #d_op_first {
	width: 80px;
}
#masterlbrgpenddform #d_op_last {
	width: 80px;
}
#masterlbrgpenddform #total_nilai {
	width: 100px;
}
#masterlbrgpenddform #totalnilainya {
	width: 100px;
}
#masterlbrgpenddform p {
	margin: 5px;

}
#masterlbrgpenddform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Info Barang Belum Dikirim */

/* Info OP vs DO */
#masterlopvsdoform #i_product {
	width: 100px;
}
#masterlopvsdoform #d_op_last {
	width: 80px;
}
#masterlopvsdoform #d_op_first {
	width: 80px;
}
#masterlopvsdoform #t_permintaan {
	width: 140px;
	text-align:right;
}
#masterlopvsdoform #t_pengiriman {
	width: 140px;
	text-align:right;	
}
#masterlopvsdoform #n_permintaan {
	width: 140px;
	text-align:right;	
}
#masterlopvsdoform #n_penjualan {
	width: 140px;
	text-align:right;	
}
#masterlopvsdoform #selisih {
	width: 140px;
	text-align:right;	
}
#masterlopvsdoform #t_n_selisih {
	width: 140px;
	text-align:right;	
}
#masterlopvsdoform p {
	margin: 5px;
}
#masterlopvsdoform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Info OP vs DO */

/* Expo Forcast */
#masterexpoforcastform #i_forcast {
	width: 100px;
}
#masterexpoforcastform #i_drop_forcast {
	width: 100px;
}
#masterexpoforcastform #d_forcast_first {
	width: 80px;
}
#masterexpoforcastform #d_forcast_last {
	width: 80px;
}
#masterexpoforcastform p {
	margin: 5px;
}
#masterexpoforcastform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Expo Forcast */

/* Expo SJ Drop Forcast */
#masterexposjforcastform #d_sj_forcast_first {
	width: 80px;
}
#masterexposjforcastform #d_sj_forcast_last {
	width: 80px;
}
#masterexposjforcastform p {
	margin: 5px;
}
#masterexposjforcastform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Expo SJ Drop Forcast */

/* Detail Info OP - DO */
#masterdetailopdoform #i_op_do {
	width: 100px;
}
#masterdetailopdoform #i_product {
	width: 100px;
}
#masterdetailopdoform #d_op_do_first {
	width: 80px;
}
#masterdetailopdoform #d_op_do_last {
	width: 80px;
}
#masterdetailopdoform p {
	margin: 5px;
}
#masterdetailopdoform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Detail Info OP - DO */


/* List Barang Jadi */
#masterlbrgjadiform #i_product {
	width: 100px;
}
#masterlbrgjadiform #e_product {
	width: 200px;
}
#masterlbrgjadiform #d_penawaran {
	width: 80px;
}
#masterlbrgjadiform #e_category {
	width: 100px;
}
#masterlbrgjadiform #e_surat_penawaran {
	width: 250px;
}
#masterlbrgjadiform #e_brand {
	width: 100px;
}
#masterlbrgjadiform #v_hjp {
	width: 100px;
}
#masterlbrgjadiform #e_layout {
	width: 100px;
}
#masterlbrgjadiform #n_status {
	width: 100px;
}
#masterlbrgjadiform #e_quality {
	width: 100px;
}
#masterlbrgjadiform p {
	margin: 5px;
}
#masterlbrgjadiform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f List Barang Jadi */

/* List Penjualan berdasarkan-DO */
#masterlpenjualanperdoform #no_faktur {
	width: 100px;
}
#masterlpenjualanperdoform #d_do_first {
	width: 80px;
}
#masterlpenjualanperdoform #d_do_last {
	width: 80px;
}
#masterlpenjualanperdoform #i_product {
	width: 80px;
}
#masterlpenjualanperdoform p {
	margin: 5px;
}
#masterlpenjualanperdoform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Penjualan berdasarkan-DO */

/* List Piutang */
#masterlpiutangform #no_kontrabon {
	width: 100px;
}
#masterlpiutangform #d_kontrabon_first {
	width: 80px;
}
#masterlpiutangform #d_kontrabon_last {
	width: 80px;
}
#masterlpiutangform p {
	margin: 5px;
}
#masterlpiutangform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f List Piutang */

/* List Pelunasan */
#masterlpelunasanform #no_voucher {
	width: 100px;
}
#masterlpelunasanform #d_voucher_first {
	width: 80px;
}
#masterlpelunasanform #d_voucher_last {
	width: 80px;
}
#masterlpelunasanform p {
	margin: 5px;
}
#masterlpelunasanform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f List Pelunasan */

/* List Penjualan Tertentu/ Non DO */
#masterlpenjualanndoform #no_faktur {
	width: 100px;
}
#masterlpenjualanndoform #e_category {
	width: 200px;
}
#masterlpenjualanndoform #v_t_pengiriman {
	width: 140px;
}
#masterlpenjualanndoform #v_t_penjualan {
	width: 140px;
}
#masterlpenjualanndoform #d_do_first {
	width: 80px;
}
#masterlpenjualanndoform #d_do_last {
	width: 80px;
}
#masterlpenjualanndoform p {
	margin: 5px;
}
#masterlpenjualanndoform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Penjualan Tertentu/ Non DO */

/* List Kontra Bon */
#masterlkontrabonform #no_faktur {
	width: 100px;
}

#masterlkontrabonform #no_kontrabon {
	width: 100px;
}

#masterlkontrabonform #i_kontrabon_code {
	width: 100px;
}

#masterlkontrabonform #d_kontrabon_first {
	width: 80px;
}

#masterlkontrabonform #d_kontrabon_last {
	width: 80px;
}

#masterlkontrabonform #totaltagih {
	width: 140px;
}

#masterlkontrabonform #tgl_kontrabon {
	width: 80px;
}

#masterlkontrabonform #v_nilai_kontrabon {
	width: 100px;
}

#masterlkontrabonform p {
	margin: 5px;
}
#masterlkontrabonform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Kontra Bon */

/* List Voucher */
#masterlvoucherform #no_kontra_bon {
	width: 100px;
}

#masterlvoucherform #kode_sumber {
	width: 100px;
}

#masterlvoucherform #no_voucher {
	width: 100px;
}

#masterlvoucherform #no_kontrabon {
	width: 100px;
}

#masterlvoucherform #tgl_voucher {
	width: 80px;
}

#masterlvoucherform #d_voucher_first {
	width: 80px;
}

#masterlvoucherform #d_voucher_last {
	width: 80px;
}

#masterlvoucherform #deskripsi_voucher {
	width: 210px;
}

#masterlvoucherform #kode_perusahaan {
	width: 210px;
}

#masterlvoucherform #total_nilai_voucher {
	width: 100px;
	text-align: right;
}

#masterlvoucherform #recieved_voucher {
	width: 100px;
}

#masterlvoucherform #approve_voucher {
	width: 100px;
}

#masterlvoucherform #tgl_kontrabon {
	width: 80px;
}
#masterlvoucherform p {
	margin: 5px;
}
#masterlvoucherform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Voucher */

/* List OP */
#masterlopbrgform #d_op_first {
	width: 80px;
}
#masterlopbrgform #d_op_last {
	width: 80px;
}
#masterlopbrgform #nomor_op {
	width: 100px;
}
#masterlopbrgform p {
	margin: 5px;
}
#masterlopbrgform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f OP */

/* List DO */
#masterldobrgform #d_do_first {
	width: 80px;
}

#masterldobrgform #d_do_last {
	width: 80px;
}

#masterldobrgform #nomor_do {
	width: 120px;
}

#masterldobrgform p {
	margin: 5px;
}

#masterldobrgform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f DO */

/* List Bukti Barang Keluar */
#masterlbonmkeluarform #d_bonmkeluar_first {
	width: 80px;
}

#masterlbonmkeluarform #d_bonmkeluar_last {
	width: 80px;
}

#masterlbonmkeluarform p {
	margin: 5px;
}

#masterlbonmkeluarform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}

/* End 0f Bukti Barang Keluar */

/* List Bukti Barang Masuk */
#masterlbonmmasukform #d_bonmmasuk_first {
	width: 80px;
}

#masterlbonmmasukform #d_bonmmasuk_last {
	width: 80px;
}

#masterlbonmmasukform p {
	margin: 5px;
}

#masterlbonmmasukform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Bukti Barang Masuk */ 

/* List Forcast */
#masterlforcastform #d_forcast_first {
	width: 80px;
}

#masterlforcastform #d_forcast_last {
	width: 80px;
}

#masterlforcastform p {
	margin: 5px;
}

#masterlforcastform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Forcast */ 

/* List SJ Drop Forcast */
#masterlsjdropforcastform #i_sj_code {
	width: 100px;
}

#masterlsjdropforcastform #d_sj_first {
	width: 80px;
}

#masterlsjdropforcastform #d_sj_last {
	width: 80px;
}

#masterlsjdropforcastform p {
	margin: 5px;
}

#masterlsjdropforcastform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f SJ Drop Forcast */ 

/* List BBM */
#masterlbbmform #d_bbm_first {
	width: 80px;
}

#masterlbbmform #d_bbm_last {
	width: 80px;
}

#masterlbbmform p {
	margin: 5px;
}

#masterlbbmform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f BBM */

/* List BBK */
#masterlbbkform #d_bbk_first {
	width: 80px;
}

#masterlbbkform #d_bbk_last {
	width: 80px;
}

#masterlbbkform p {
	margin: 5px;
}

#masterlbbkform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f BBK */

/* List SJ */
#masterlsjform #d_sj_first {
	width: 80px;
}

#masterlsjform #d_sj_last {
	width: 80px;
}

#masterlsjform p {
	margin: 5px;
}

#masterlsjform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f SJ */

/* List Transfer DO */
#masterltransferdoform #d_do_first {
	width: 80px;
}
#masterltransferdoform #d_do_last {
	width: 80px;
}
#masterltransferdoform #nomor_do {
	width: 100px;
}
#masterltransferdoform p {
	margin: 5px;
}
#masterltransferdoform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f /* List Transfer DO */

/* List Print Faktur Penjualan berdasarkan-DO */
#masterlfpenjualanperdoform #no_faktur {
	width: 100px;
}
#masterlfpenjualanperdoform #d_do_first {
	width: 80px;
}
#masterlfpenjualanperdoform #d_do_last {
	width: 80px;
}
#masterlfpenjualanperdoform p {
	margin: 5px;
}
#masterlfpenjualanperdoform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Faktur Penjualan berdasarkan-DO */

/* List Print Faktur Penjualan Tertentu/ Non DO */
#masterlfpenjualanndoform #no_faktur {
	width: 100px;
}
#masterlfpenjualanndoform #e_category {
	width: 200px;
}
#masterlfpenjualanndoform #v_t_pengiriman {
	width: 140px;
}
#masterlfpenjualanndoform #v_t_penjualan {
	width: 140px;
}
#masterlfpenjualanndoform p {
	margin: 5px;
}
#masterlfpenjualanndoform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Faktur Penjualan Tertentu/ Non DO */

/* List Print Faktur Pajak Penjualan berdasarkan-DO */
#masterlpjkpenjualanperdoform #no_faktur {
	width: 100px;
}
#masterlpjkpenjualanperdoform #d_do_first {
	width: 80px;
}
#masterlpjkpenjualanperdoform #d_do_last {
	width: 80px;
}
#masterlpjkpenjualanperdoform p {
	margin: 5px;
}
#masterlpjkpenjualanperdoform {
	background: #F6F6F6;
	padding: 5px;
	margin: 0;
}
/* End 0f Faktur Pajak Penjualan berdasarkan-DO */

/* Barang Mentah */
#masterbrgmentahform #i_product_crude {
	width: 45px;
}
#masterbrgmentahform #e_product_name {
	width: 200px;
}
#masterbrgmentahform #i_color {
	width: 120px;
}
#masterbrgmentahform #i_unit {
	width: 120px;
}
#masterbrgmentahform #v_price {
	width: 100px;
}
#masterbrgmentahform #n_quantity {
	width: 200px;
}
#masterbrgmentahform p {
	margin: 5px;
}
#masterbrgmentahform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Mentah */

/* Transfer DO */
#mastertransferdoform #d_do_first {
	width: 80px;
}
#mastertransferdoform #d_do_last {
	width: 80px;
}
#mastertransferdoform p {
	margin: 5px;
}
#mastertransferdoform {
	border: 1px solid #CCC;
	background: #F6F6F6;
	padding: 10px;
	margin: 0;
}
/* End 0f Transfer DO */

/* --------------- footer ---------------*/
#footer {
	vertical-align:middle;
	background-color:#005BB7;
}
#copyright {
}

/* --------------- Formulare ---------------*/
#kontaktform {
	clear: left;
	float: left;
	line-height: normal;
	width: 440px;
	margin: 0px 0px 30px 0px;
	padding: 0px 10px 30px 10px;
	background-color: #efefef;
}
#kontaktform label {
	clear: left;
	float: left;
	width: 100px;
	margin: 10px 0px 0px 0px;
}
#kontaktform label.plabel {
	font-weight: bold;
}
#kontaktform input,
#kontaktform select,
#kontaktform textarea {
	float: left;
	width: 325px;
	margin: 10px 0px 0px 0px;
}
#kontaktform input.submit {
	width: auto;
	float: right;
	margin: 10px 0px 0px 0px;
}
#kontaktform input.reset {
	width: auto;
	float: right;
	margin: 10px 0px 0px 0px;
}
.isi{
	padding-left:10px;
}
.gb1{
	padding:5px;
	background:#eaf6d6;
	margin-bottom:3px;
}
.gb2{
	padding:5px;
	background:#e5e8e1;
	margin-bottom:3px;
}
.reply{
	margin-top:10px;
	margin-left:40px;
	padding-left:5px;
	border-left:3px dashed #96d032;
	}
.reply .isi{
	margin-bottom:5px;
}

code {
 font-family:Arial, Helvetica, sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}

/*--------------- Menu Tab --------------------*/
#tabs {
        display: block;
        float: left;
        /* width: 200px; */
	width: 800px;
}
.panel {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 /* width: 180px; */
 width: 1020px;
 overflow: auto;
 clear: left;
}

.tab_bdr {
 padding: 0px;
 /* width: 180px; */
 width: 450px;
 border: 0px;
 border: 1px solid #CCCCCC;
 /* height: 4px; */
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab {
 font-family: tahoma;
 font-size: 12px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 /* height: 19px; */
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 /* width: 60px; */
 width: 150px;
 float: left;
 text-decoration: none;
}

.tab_sel {
 font-family: tahoma;
 font-size: 12px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 /* height: 19px; */
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 /* width:60px; */
 width:150px;
 float: left;
 text-decoration: none;
}

/* Panel Add User */
.panel_user {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_user { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 100%; 
	border: 0; 
}

.listtable_user th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_user td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_user {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_user {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_user {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Add User */

/* Panel Add Printer */
.panel_printer {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_printer { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 100%; 
	border: 0; 
}

.listtable_printer th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_printer td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_printer {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_printer {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_printer {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Add Printer */

/* Panel Tambah Barang Mentah */
.panel_brg_mentah {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 840px;
 overflow: auto;
 clear: left;
}

.listtable_brg_mentah { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 100%; 
	border: 0; 
}

.listtable_brg_mentah th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_brg_mentah td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_brg_mentah {
 padding: 0px;
 width: 840px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_brg_mentah {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:180px;
 float: left;
 text-decoration: none;
}

.tab_brg_mentah {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 180px;
 float: left;
 text-decoration: none;
}
/* End 0f Tambah Barang Mentah */

/* Panel Tambah Barang Jadi */
.panel_brg_jadi {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 840px;
 overflow: auto;
 clear: left;
}

.listtable_brg_jadi { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 100%; 
	border: 0; 
}

.listtable_brg_jadi th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}

.listtable_brg_jadi td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}

.tab_bdr_brg_jadi {
 padding: 0px;
 width: 840px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_brg_jadi {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:180px;
 float: left;
 text-decoration: none;
}

.tab_brg_jadi {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 180px;
 float: left;
 text-decoration: none;
}
/* End 0f Tambah Barang Jadi */

/* Panel Tambah Barang Jadi + Motif */
.panel_brg_motif {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 840px;
 overflow: auto;
 clear: left;
}

.listtable_brg_motif { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 83%; 
	border: 0; 
}

.listtable_brg_motif th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}

.listtable_brg_motif td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}

.tab_bdr_brg_motif {
 padding: 0px;
 width: 840px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_brg_motif {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:180px;
 float: left;
 text-decoration: none;
}

.tab_brg_motif {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 180px;
 float: left;
 text-decoration: none;
}
/* End 0f Tambah Barang Jadi + Motif */

/* Panel Pelanggan */
.panel_pel {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_pel { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}

.listtable_pel th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_pel td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_pel {
 padding: 0px;
 width: 910px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_pel {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_pel {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Pelanggan */

/* Panel Pelanggan Transfer */
.panel_peltransfer {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_peltransfer { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}

.listtable_peltransfer th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_peltransfer td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_peltransfer {
 padding: 0px;
 width: 910px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_peltransfer {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_peltransfer {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Pelanggan Transfer */

/* Panel Group Pelanggan */
.panel_group_pel {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_group_pel { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}

.listtable_group_pel th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_group_pel td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_group_pel {
 padding: 0px;
 width: 910px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_group_pel {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_group_pel {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Group Pelanggan */


/* Panel Harga */
.panel_harga {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_harga { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}

.listtable_harga th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_harga td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_harga {
 padding: 0px;
 width: 910px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_harga {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_harga {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Harga */

/* Panel Kelas Barang */
.panel_kls {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_kls { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 79%; 
	border: 0; 
}

.listtable_kls th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_kls td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_kls {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_kls {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_kls {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Kelas Barang */

/* Panel Akun Pajak */
.panel_AkunPajak {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_AkunPajak { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 79%; 
	border: 0; 
}

.listtable_AkunPajak th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_AkunPajak td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_AkunPajak {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_AkunPajak {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_AkunPajak {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Akun Pajak */

/* Panel Penyetor */
.panel_penyetor {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_penyetor { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 79%; 
	border: 0; 
}

.listtable_penyetor th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_penyetor td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_penyetor {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_penyetor {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_penyetor {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f penyetor */

/* Panel Jenis Voucher */
.panel_JenisVoucher {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_JenisVoucher { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 79%; 
	border: 0; 
}

.listtable_JenisVoucher th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_JenisVoucher td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_JenisVoucher {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_JenisVoucher {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_JenisVoucher {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Jenis Voucher */

/* Panel Satuan Bhn Baku */
.panel_SatuanBhnBaku {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_SatuanBhnBaku { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 79%; 
	border: 0; 
}

.listtable_SatuanBhnBaku th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_SatuanBhnBaku td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_SatuanBhnBaku {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_SatuanBhnBaku {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_SatuanBhnBaku {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Satuan Bhn Baku */

/* Panel Kategori */
.panel_kategori {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_kategori { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 79%; 
	border: 0; 
}

.listtable_kategori th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_kategori td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_kategori {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_kategori {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_kategori {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Kategori */

/* Panel Merek */
.panel_merek {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_merek { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}

.listtable_merek th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_merek td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_merek {
 padding: 0px;
 width: 910px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_merek {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_merek {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Merek */

/* Panel Layout */
.panel_layout {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_layout { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}

.listtable_layout th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_layout td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_layout {
 padding: 0px;
 width: 910px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_layout {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_layout {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration:none;
}
/* End 0f Layout */

/* Panel Status */
.panel_status {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_status { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}

.listtable_status th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_status td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_status {
 padding: 0px;
 width: 910px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_status {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_status {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration:none;
}

#txt_i_status_product {
	width:100px;
}

#txt_e_statusname {
	width:200px;
}
/* End 0f Status */

/* Panel Warna */
.panel_warna {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_warna { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 90%; 
	border: 0; 
}

.listtable_warna th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_warna td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_warna {
 padding: 0px;
 width: 910px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_warna {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_warna {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration:none;
}
/* End 0f Warna */

/* Panel Edit Barang Mentah */
.tab_e_bdr_brg_mentah {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_e_brg_mentah {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Edit Barang Mentah */

/* Panel Edit Barang Jadi */
.tab_e_bdr_brg_jadi {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_e_brg_jadi {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Edit Barang Jadi */

/* Panel Pemasok */
.panel_pemasok {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_pemasok { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 100%; 
	border: 0; 
}

.listtable_pemasok th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_pemasok td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_pemasok {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_pemasok {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_pemasok {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Panel Pemasok */

/* Panel Jns Setor Pajak */
.panel_jnssetorpajak {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_jnssetorpajak { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 79%; 
	border: 0; 
}

.listtable_jnssetorpajak th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_jnssetorpajak td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_jnssetorpajak {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_jnssetorpajak {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_jnssetorpajak {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Jns Setor Pajak */


/* Panel Kode Voucher */
.panel_kodevoucher {
 border: solid 1px #D8D8D8;
 font-family:tahoma;
 font-size:14px;
 border-top: none;
 background-color: #FFFFFF;
 padding: 0px;
 width: 800px;
 overflow: auto;
 clear: left;
}

.listtable_kodevoucher { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 79%; 
	border: 0; 
}

.listtable_kodevoucher th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:25px;
}
.listtable_kodevoucher td { 
	padding-left:10px;
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
}
.tab_bdr_kodevoucher {
 padding: 0px;
 width: 800px;
 border: 0px;
 border: 1px solid #CCCCCC;
 height: 9px;
 margin:0px;
 background: #CCCCCC;
 clear: left;
 font-size: 0px;
}

.tab_sel_kodevoucher {
 font-family: tahoma;
 font-size: 11px;
 background: #CCCCCC;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #CCCCCC;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width:200px;
 float: left;
 text-decoration: none;
}

.tab_kodevoucher {
 font-family: tahoma;
 font-size: 11px;
 background:#00F;
 color: #FFFFFF;
 cursor: pointer;
 border: none;
 border-bottom: 1px solid #FFFFFF;
 height: 24px;
 padding-top: 3px;
 margin: 0px;
 width: 200px;
 float: left;
 text-decoration: none;
}
/* End 0f Kode Voucher */

/* ----------- End 0f Tab ------------ */



/* ----------- Logout --------------- */
/**
#logout {
 font-family: tahoma;
 font-size: 10px;
 margin-left: 950px;
 width: 65px;
 color: #FF0000;
 text-decoration: none;
 font-weight:bold; 
}

#logout a:hover {
 color:#0033FF;
 text-decoration:underline;
}

#logout a:visited {
 color:#FF0000;
 text-decoration:none;
}
**/
