.error{
    color:red;
}
.inactive{
    background-color:#eeeeee;
}
.title{
    font-family: Cambria, Arial, Trebuchet MS;
    font-weight:normal;
    text-shadow:0 0 1px #000;
    color:#28139d;
    font-size: 18px;
    padding:2px 0 0;
    text-transform:uppercase;
    line-height:15px;
    margin:0 0 10px;
}
.box{
    border:1px #dfdfff solid;
    padding:5px;
    margin-bottom:3px;
}

/* paging */
.pag_link{
	background:#D0D0FF;
	border:#7090FF 1px solid;
	padding:3px 8px;
	margin-left:3px;
	margin-right:3px;
	color:#000000;
	}
.pag_link_cur{
	background:#90A0FF;
	border:#7090FF 1px solid;
	padding:3px 8px;
	margin-right:3px;
	margin-left:3px;
	color:#000000;
	}
.paging{
	margin-left:7px;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:10px;
	text-align:left;
	}
.paging a{
	border:none;
	color:#000;
	}
.paging a:hover{
	text-decoration:underline;
	}
	
/* FORMS */
input,select{
    height:auto;
    padding:2px 5px;
    font-size:13px;
    font-family: Cambria, Arial, Trebuchet MS;
}
input[type=checkbox],input[type=radio]{
    padding:0px;
    min-width:0px;
}
button:hover,input[type=submit]:hover{
    cursor:pointer;
}
input[type=text],input[type=password]{
    width:70%;
    border-bottom:1px solid #D0D0FF;
    border-top:1.5px solid #B0B0FF;
    border-right:1px solid #D0D0FF;
    border-left:1.5px solid #B0B0FF;
    background-color:#F0F0FF;
}
/*select{
    border-bottom:1px solid #D0D0FF;
    border-top:1.5px solid #B0B0FF;
    border-right:1px solid #D0D0FF;
    border-left:1.5px solid #B0B0FF;
    background-color:#F0F0FF;
}*/
input[type=text]:focus,input[type=password]:focus,textarea:focus{
    background-color:#FFF;
}
textarea{
    width:70%;
    height:100px;
    border-bottom:1px solid #D0D0FF;
    border-top:1.5px solid #B0B0FF;
    border-right:1px solid #D0D0FF;
    border-left:1.5px solid #B0B0FF;
    background-color:#F0F0FF;
    font-size:12px;
    padding:2px 5px;
    font-family: Cambria, Arial, Trebuchet MS;
}
/************************ BUTTON SEXY ***************************/
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}
a.button {
    background: transparent url('images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}
a.button:hover{
    cursor:pointer;
}
a.button span {
    background: transparent url('images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}
a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
    outline: none;
}
/****************************************************************/