/* CSS Document */
body{
	background:#9B9B9B;
	font: 11px/165% 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:12px;
	}
h3 {
	font: bold 1em/1.5em Georgia, 'Times New Roman', Times, serif;
	color: #444;
	padding: 10px 15px 7px 15px;	 
}
h3 { font-size: 2em; font-weight: normal; letter-spacing: -0.5px; padding-top: 15px}

#outer{
	margin:10px 300px;
	padding:80px 0px;
	}
.border{
	border:#666666 3px solid;
	background:#666666;
	}
form {
	margin: 10px; 
	padding: 15px 25px 25px 20px; 
	border: 1px solid #F0F0F0;
	background: #f8f8f8;
}

input, select, textarea {
	margin: 5px 0;
	padding: 5px;
	color: #6A6969;
	border-width: 1px;
	border-style: solid;
  	border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4; 	
	font: 11px 'Lucida Grande', Verdana, Helvetica, sans-serif;
}
input:focus, select:focus, textarea:focus {
	color: #7BA857;
	background: #EFFAE6;
}
input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 30px;
	margin: 0;
	padding: 2px 3px; 
	color: #fff;
	background: #9CCF5F;	
	border-width: 1px;
  	border-style: solid;
  	border-color: #B6DE8F #8DB836 #8DB836 #B6DE8F;
}
.error{
	font-size:9px;
	color:#FF0000;
	}
a:link, a:visited { 
	text-decoration: none;
	color: #AE855C;	
}
a:hover {
	border-bottom: 1px dotted #AE855C;	
}