/* --------------- Einstellung für alle Elemente ---------------*/
html * { 
 margin: 0; 
 padding:0; 
}

body {
 PADDING-RIGHT: 0px;
 PADDING-TOP:0px;
 PADDING-BOTTOM:0px;
 PADDING-LEFT: 0px;
 BACKGROUND:#ffffff fixed;
 MARGIN: 0px;
 font-size: 82.50%;
 font-family:Arial, Helvetica, sans-serif;	
 LINE-HEIGHT: 1.166;
 scrollbar-face-color:#C60000;
 scrollbar-highlight-color:#C60000;
 scrollbar-shadow-color:#660000;
 scrollbar-darkshadow-color:#C60000;
 scrollbar-3dlight-color:#C60000;
 scrollbar-track-color:#C60000;
 scrollbar-arrow-color:#660000;
 scrollbar-base-color:#C60000;
}

/* table */
.maintable {
	text-align: left;
	width: 100%;
	border: 0; 
	padding: 0; 
}
.accordion2 h3 {
	background: #e9e7e7 no-repeat right -51px;
	padding: 7px 5px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion2 h4 {
	background: #e9e7e7 no-repeat right -51px;
	margin: 0;
	font: bold 30px Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion2 h5 {
	color: #5E88B6;
	padding: 10px 0px;
	margin: 0;
	font: bold 15px Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.accordion2 h6 {
	margin: 0;
	font: bold 15px Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.mastertable {
	/* background:#80c0e0; */
	background:#CCCCCC;
	text-align: left; 
	font-size: 16px;
	width: 100%; 
	border: 0; 
	padding: 4px;
}
#cari {
 width:160px;
}

.listtable2 { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 100%; 
}
.listtable2 th { 
	background:#CCCCCC;
	color:#FFFFFF; 
	font-size: 14px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:center;
	height:30px;
}
.listtable2 td { 
	padding-left:10px;
	color:#FF0000; 
	font-size: 11px;
	border-top:1px solid #000000; 
	border-left:1px solid #000000; 
	border-bottom:1px solid #000000; 
	border-right:1px solid #000000; 
	text-align:left;
}

.listtable { 
	font:1.2em Arial, Helvetica, sans-serif; 
	width: 100%; 
}
.listtable th { 
}
.listtable td { 
}
/* end of table */
